git+https://github.com/cogent3/cogent3.git@develop#egg=cogent3[extra]docutils
ipykernel
ipytest
ipython<9.0
ipywidgets
jinja2
jsonschema
jupyter-client
jupyter-sphinx
nbconvert
nbformat
nbsphinx
nox
pandas
pandoc
pillow
plotly<6.0
psutil
pytest
scipy
sphinx
sphinx-comments
sphinx-design
sphinxcontrib-bibtex
tqdm
sphinx_book_theme
