psutil
plotly
kaleido
pillow
ipython
ipykernel
ipywidgets
ipytest
jupyter-sphinx
nbsphinx
pytest
sphinx==3.5.4
docutils<0.17
jinja2==3.0.3
sphinx_comments
sphinx_panels
sphinxcontrib-bibtex
sphinx_rtd_theme
tqdm>=4.47.0
nbformat
nbconvert!=5.4
pandas
git+https://github.com/cogent3/cogent3.git@develop#egg=cogent3[develop]
