cogent3[extra]==2024.12.19a2
docutils
ipykernel
ipytest
ipython<9.0
ipywidgets
jinja2
jsonschema
jupyter-client
jupyter-sphinx
nbconvert
nbformat
nbsphinx
nox
pandas
pandoc
pillow
plotly<6.0
psutil
pytest
scipy
sphinx
sphinx-comments
sphinx-design
sphinxcontrib-bibtex
tqdm
sphinx_book_theme