@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@1,700&display=swap');

.wy-nav-content {
	max-width: 100%;
}

div.section > p,
div.section > h1,
div.section > h2,
div.section > h3,
div.section > h4,
div.section > h5,
div.section > h6,
div.section > hr,
div.section > dl:not(.footnote),
div.section > ol,
div.section > ul,
div.section > table,
div.section > blockquote, 
div.section > div:not(.section):not(.sidebar)
	{
		/* Constrain width for direct descendants of a div */
		width: 55%;
		display: inline-block;
		font-family: 'Atkinson Hyperlegible', sans-serif;
	}

div.wy-nav-content, div.container.sphinx-bs {
	margin-left:  0;
	display: inline-block;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

div.sidebar, dl.footnote {
	width:  40% !important;
	display: inline-block !important;
	clear: right !important;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

dl.footnote {
	float: right;
	clear: both;
	text-align: left;
	border-right: solid 1px #808080;
	border-left: none;
	border-top: none;
	border-bottom: none;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

blockquote {
	font-family: 'Atkinson Hyperlegible', sans-serif;
	margin-left: 1em;
	margin-right: 2em;
	border-left: solid 1px #808080;
}

li blockquote {
	border-left: None;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

blockquote p.attribution {
	text-align: right;
    width: 95%;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

blockquote.epigraph {
	font-size: 1.125rem;
	font-weight: 300;
	font-style: oblique;
	padding-left: 1em;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

blockquote.epigraph p.attribution {
	font-size: 0.75rem;
	font-weight: 400;
	font-style: normal;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

/* override table no-wrap */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.section ol li {
	list-style: none !important;
	counter-increment: section-counter;
	margin-left: 8px !important;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.section ol li p {
	padding-left: 20px;
}
.section ol li::before {
	content: counter(section-counter) ". ";
	font-weight: bold;
	position: absolute;
}

/* Colors and text decoration.
 For example, :black:`text in black` or :blink:`text blinking` in rST. */

.black {
    color: black;
}

.gray {
    color: gray;
}

.grey {
    color: gray;
}

.silver {
    color: silver;
}

.white {
    color: white;
}

.maroon {
    color: maroon;
}

.red {
    color: red;
}

.magenta {
    color: magenta;
}

.fuchsia {
    color: fuchsia;
}

.pink {
    color: pink;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.lime {
    color: lime;
}

.green {
    color: green;
}

.olive {
    color: olive;
}

.teal {
    color: teal;
}

.cyan {
    color: cyan;
}

.aqua {
    color: aqua;
}

.blue {
    color: blue;
}

.navy {
    color: navy;
}

.purple {
    color: purple;
}

