@import url('https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,400i,700,700i&display=swap');
@import url('https://fonts.bunny.net/css?family=roboto-mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

body
	{
		font-family: 'Atkinson Hyperlegible', sans-serif;
	}

p, h1, h2, h3, h4, h5, h6, hr, ol, ul, blockquote
	{
		font-family: 'Atkinson Hyperlegible', sans-serif !important;
	}
blockquote {
	font-family: 'Atkinson Hyperlegible', sans-serif;
	margin-left: 1em;
	margin-right: 2em;
	border-left: solid 1px #808080;
}

/* li blockquote {
	border-left: None;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

blockquote p.attribution {
	text-align: right;
    width: 95%;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

blockquote.epigraph {
	font-size: 1.125rem;
	font-weight: 300;
	font-style: oblique;
	padding-left: 1em;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

blockquote.epigraph p.attribution {
	font-size: 0.75rem;
	font-weight: 400;
	font-style: normal;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}


.section ol li {
	list-style: none !important;
	counter-increment: section-counter;
	margin-left: 8px !important;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.section ol li p {
	padding-left: 20px;
}
.section ol li::before {
	content: counter(section-counter) ". ";
	font-weight: bold;
	position: absolute;
} */


.c3table table {margin: 10px 0; font-family: monospace !important;}

/* Colors and text decoration.
 For example, :black:`text in black` or :blink:`text blinking` in rST. */

.black {
    color: black;
}

.gray {
    color: gray;
}

.grey {
    color: gray;
}

.silver {
    color: silver;
}

.white {
    color: white;
}

.maroon {
    color: maroon;
}

.red {
    color: red;
}

.magenta {
    color: magenta;
}

.fuchsia {
    color: fuchsia;
}

.pink {
    color: pink;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.lime {
    color: lime;
}

.green {
    color: green;
}

.olive {
    color: olive;
}

.teal {
    color: teal;
}

.cyan {
    color: cyan;
}

.aqua {
    color: aqua;
}

.blue {
    color: blue;
}

.navy {
    color: navy;
}

.purple {
    color: purple;
}

